.images-container {
  overflow-y: auto;
}

.card-body-scrollable {
  min-height: 5vh;
}

.results-card {
  margin-bottom: 16px;
}

.robot_icon {
  width: clamp(70px, 8vw, 100px);
}

.right_col_db {
  margin-bottom: 20px;
}

.row {
  width: 100%;
}

.submit_btn_db {
  margin-top: 15px;
}

@media (min-width: 992px) {
  .right_col_db, .left_col_db {
    max-width: 550px;
  }

  .right_col_db {
    margin-bottom: 0;
  }

  .submit_btn_db {
    margin-top: 0;
  }

  .right_col_db {
    min-height: 570px;
  }

  .row, form, .card-body {
    align-items: center;
    height: 100%;
  }

  .inputs_form_db {
    width: 100%;
  }

  .form_db {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-body-scrollable {
    height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .results-card {
    height: 290px;
  }
}