.images-container {
  overflow-y: auto;
}

.card-body-scrollable {
  min-height: 5vh;
}

.results-card {
  margin-bottom: 12px;
}

@media (min-width: 992px) {
  .images-container {
    overflow-y: auto;
  }

  .results-card {
    margin-bottom: 0;
  }

  .card-body-scrollable {
    height: 35vh;
    overflow-y: auto;
  }

  .row {
    margin-right: 0;
    align-items: center;
  }

  .robot_icon {
    width: 100px;
  }
}


.robot_icon {
  width: 90px;
}

.card-animated {
  animation: fadeInUp 0.5s ease-in-out;
}

.categories .row {
  margin-top: 0;
  gap: 10px;
}

.btn-outline-custom {
  border-color: var(--primary-blue);
  color: var(--primary-blue);
  transition: all 0.3s ease;
}

.btn-outline-custom:hover {
  background-color: var(--primary-blue);
  color: var(--light-green);
}
