.images-container {
  overflow-y: auto;
}

.card-body-scrollable {
  min-height: 5vh;
}

.results-card {
  margin-bottom: 16px;
}

.robot_icon {
  width: 90px;
}

@media (min-width: 992px) {
  .robot_icon {
    width: 100px;
  }

  .row {
    align-items: center;
  }

  .card-body-scrollable {
    height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}